.breadcrumb {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 2rem;
}
.about-section {
  text-align: center;
}
.about-section h1 {
  font-size: 2rem;
}
.about-section p {
  padding-top: 0.5rem;
  padding-bottom: 3rem;
}
.about-image {
  min-height: 100vh;
  max-width: 100%;
  background-image: url(../assets/billboard.jpg);
  background-size: cover;
}
.about-what-we-do-h1 {
  text-align: center;
  font-size: 2rem;
}
.about-what-we-do-p {
  text-align: center;
  /* font-size: 2rem; */
}
.our-mission {
  padding: 4rem 2rem;
  text-align: center;
  background-color: #ececec;
}
.our-mission span,
h1 {
  text-align: center;
}
.our-mission span {
  color: #fff;
  background-color: var(--clr-secondary);
  padding: 4px 10px;
}
.our-mission h1 {
  font-size: 2rem;
  font-weight: 300;
  padding-top: 1rem;
}
.our-mission-container {
  width: 100%;
  display: flex;
  padding: 4rem 0;
  gap: 4rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.our-mission-image {
  width: 100%;
  height: auto;
}
.our-mission-image img {
  width: 500px;
  height: auto;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.074);
}
.our-mission-content {
  display: flex;
  flex-direction: column;
}
.our-mission-content p {
  text-align: left;
}
.our-mission-content a {
  margin-top: 2rem;
  display: inline-block;
  width: fit-content;
}
.our-team-section {
  padding: 4rem 0;
  text-align: center;
}
.our-team-section span {
  color: #fff;
  background-color: var(--clr-secondary);
  padding: 4px 10px;
}
.our-team-section h1 {
  font-size: 2rem;
  font-weight: 300;
  padding-top: 1rem;
}
.team-members-container {
  display: flex;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
}
.team-member-image {
  width: 80%;
  border-radius: 1rem;
  height: auto;
}
.trading-view-chart {
  width: 100%;
}
.what-we-do-section h1 {
  text-align: left;
}

/*  */
/*  */
/*  */
/* MEDIA QUERIES */
@media (max-width: 768px) {
  .about-section {
    padding: 1rem;
  }
  .about-section p {
    text-wrap: balance;
    padding-bottom: 1rem;
  }
  .about-image {
    margin-bottom: -2rem;
    min-height: 50vh;
    max-width: 100%;
    background-image: url(../assets/billboard.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .our-mission {
    text-align: left;
  }
  .our-mission h1 {
    text-align: left;
  }
  .our-mission-container {
    flex-direction: column;
    padding: 2rem 0;
  }
  .our-mission-image img {
    width: 100%;
    height: auto;
  }
}
